<!DOCTYPE html>
<html>
    <h3>Updtate Event</h3>
    <% if can? :manage, @user_ticket %>
        <%= form_with model: @user_ticket do |form| %>
        <%= form.text_field :user_id, placeholder: "user_id" %>
        <%= form.text_field :ticket_id, placeholder: "ticket id" %>
        <%= form.text_field :time, placeholder: "time" %>
        <%= form.text_field :paid, placeholder: "paid" %>
        <%= form.submit %>
        <%end%>
    <% else %>
        <h4>You shall not pass!</h4>
    <%end%>
</html>