<!DOCTYPE html>
<html>
  <head>
    <title>Lab4Assignment</title>
    <%= csrf_meta_tags %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
    $(document).ready(function() {
      $.ajaxSetup({ cache: true });
      $.getScript('https://connect.facebook.net/en_US/sdk.js', function(){
        FB.init({
          appId: '1562722460531579',
          version: 'v2.7' // or v2.1, v2.2, v2.3, ...
        });     
        $('#loginbutton,#feedbutton').removeAttr('disabled');
        FB.getLoginStatus(updateStatusCallback);
      });
      // Execute some code here
    });
  </script>


  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= link_to 'Sign In', registrations_url %>
  <%= link_to 'Log In', root_url %>
  <%= link_to 'Log Out', log_out_url %>
    
  	<p id="notice"><%= notice %></p>
    <%= yield %>
  </body>

  
  
</html>
